[Content] [RAG] Pinecone Knowledge Base Blog Articles
{
  "name": "[Pinceone] [Ghost] Blog Knowledge Base",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Get all items from the previous node\nconst items = $input.all();\n\n// Use the .map() method to transform each item into a new, clean object\nreturn items.map(item => {\n  const json = item.json;\n  let plainText = '';\n\n  // 1. Convert HTML to Plain Text\n  if (json.html) {\n    plainText = json.html.replace(/<[^>]*>/g, '')\n      .replace(/&nbsp;/g, ' ')\n      .replace(/&amp;/g, '&')\n      .replace(/&lt;/g, '<')\n      .replace(/&gt;/g, '>')\n      .replace(/&quot;/g, '\"')\n      .replace(/&#039;/g, \"'\")\n      .trim();\n  }\n\n  // 2. Construct the new, streamlined JSON object\n  const cleanJson = {\n    id: json.id,\n    title: json.title,\n    slug: json.slug,\n    plaintext: plainText,\n    primary_tag: json.primary_tag ? json.primary_tag.name : null,\n    created_at: json.created_at, // <-- ADDED\n    updated_at: json.updated_at  // <-- ADDED\n  };\n\n  // 3. Return the item in the format n8n expects\n  return {\n    json: cleanJson,\n    pairedItem: item.pairedItem\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        -80
      ],
      "id": "d59dd764-663b-47d9-9f76-85979f3f238e",
      "name": "HTML to Plain Text"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -64,
        64
      ],
      "id": "57558600-d852-48af-a4f9-4731803ef6b2",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "tVVUYSYj824Aqs6f",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.plaintext }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "id",
                "value": "={{ $json.id }}"
              },
              {
                "name": "title",
                "value": "={{ $json.title }}"
              },
              {
                "name": "slug",
                "value": "={{ $json.slug }}"
              },
              {
                "name": "primary_tag",
                "value": "={{ $json.primary_tag }}"
              },
              {
                "name": "created_at",
                "value": "={{ $json.created_at }}"
              },
              {
                "name": "updated_at",
                "value": "={{ $json.updated_at }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        112,
        64
      ],
      "id": "ce2bc93c-88cb-4d5b-9062-07ade22010cc",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        112,
        224
      ],
      "id": "e55d9b5f-3682-4eb5-9088-b10583129670",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ai-marketing-automation-posts",
          "mode": "list",
          "cachedResultName": "ai-marketing-automation-posts"
        },
        "options": {
          "clearNamespace": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -64,
        -176
      ],
      "id": "80b20848-4be0-45e2-8e8e-31745326c3c5",
      "name": "Add Blogs to Pinecone Database",
      "credentials": {
        "pineconeApi": {
          "id": "ciFoi5pylyVe6sGz",
          "name": "PineconeApi AI marketing Automation"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -816,
        -80
      ],
      "id": "1f3a6478-584c-4aa3-b93a-82aae0572d35",
      "name": "Daily Trigger"
    },
    {
      "parameters": {
        "source": "adminApi",
        "operation": "getAll",
        "returnAll": "=updated_at:>='{{ $now.minus({ \"days\": 1 }).toFormat(\"yyyy-MM-dd\\\\'T\\\\'HH:mm:ss\") }}Z'",
        "options": {
          "include": [
            "tags"
          ],
          "fields": "id,title,slug,html,primary_tag,created_at,updated_at",
          "formats": [
            "html"
          ]
        }
      },
      "type": "n8n-nodes-base.ghost",
      "typeVersion": 1,
      "position": [
        -576,
        -80
      ],
      "id": "67bf4f2f-597b-4775-a00b-bde5dd373aba",
      "name": "Get Ghost CMS Blogs",
      "credentials": {
        "ghostAdminApi": {
          "id": "7jTbKc6wXs3LxpVF",
          "name": "Ghost Admin account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTML to Plain Text": {
      "main": [
        [
          {
            "node": "Add Blogs to Pinecone Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Add Blogs to Pinecone Database",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Add Blogs to Pinecone Database",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Get Ghost CMS Blogs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ghost CMS Blogs": {
      "main": [
        [
          {
            "node": "HTML to Plain Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cc8d083a-45d2-4331-ac4f-51452cc6a217",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2d6c9f06c0b30d9caab4779b4b42bd0935619845cd51b1a9b89c6cffccfc7e51"
  },
  "id": "X65QzuMxUSGTTZeH",
  "tags": []
}
